body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272A37;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  text-align: center;
  margin: 55px;
  border-radius: 10px;
  padding: 25px;
  color: white;
}

.botao-g {
  width: 256px;
  height: 55px;
  background: #3590F5;
  border-radius: 100px;
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.botao-p{
  width: 211px;
  height: 55px;
  background: #3590F5;
  border-radius: 100px;
  color: white;
  font-family: 'Roboto';  
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin: 10px;
}

input{
  border-radius: 10px;
  height: 53px;
  margin: 10px;
}

form{
  background: #1E2029;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  width: 900px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.senhas-container{
  margin: 30px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.senhas{
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 170px;
  margin: 10px;
  background-color: #323544;;
  border: 1px solid white;
  border-radius: 10px;
}

.lixeira{
 align-self: flex-end;
 justify-content: end;
}

.links{
  color: white;
  background-color: #3590F5;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}

.display{
  background-color: #1E2029;
  border-radius: 10px ;
  padding: 65px 10px 10px 10px;
  margin-left: -10px;
  text-align: center;
  
}

.btn-danger{
  height: 25px;
  margin-bottom: -35px;
}

.flex{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

#checkBoxSenha{
  display: inline;
}

.senha{
  justify-content: center;
  align-items: center;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #3590F5;
  text-align: center;
  height: 50px;
  font-size: 1.3em;
  padding-top: 10px;
  color: white;
}

footer > p > a{
  text-decoration: none;
  color: blue;
}

.icons{
  width: 40px;
  margin: 3px;
}

#contatos{
  position: fixed;
  bottom: 50px;
  left: 0%;
}
